<h2>Personen importieren</h2>
<p>Es ist möglich massenhaft neue Personen über einen CSV-Import anzulegen.</p>

<form #form (ngSubmit)="onImport(form)">
  <input name="csvFile" type="file" [disabled]="inProgress" />
  <button mat-button type="submit" [disabled]="inProgress">Importieren</button>
</form>

<div *ngIf="lastUploadResult">
  <h3>Import-Ergebnis</h3>
  <table>
    <tr>
      <td>Anzahl Datensätze:</td>
      <td>{{ lastUploadResult.numRecords }}</td>
    </tr>
    <tr>
      <td>Fehlerhafte Datensätze:</td>
      <td>{{ lastUploadResult.errors.length }}</td>
    </tr>
    <tr>
      <td>Übersprungene Personen:</td>
      <td>{{ lastUploadResult.skippedPeople.length }}</td>
    </tr>
    <tr>
      <td>Neue Personen:</td>
      <td>
        {{ lastUploadResult.numPeople }}
      </td>
    </tr>
    <tr>
      <td>Neue Ausnahmezeiträume (geimpft / genesen):</td>
      <td>
        {{ lastUploadResult.numExemptions }}
      </td>
    </tr>
    <tr>
      <td>Übersprungene Ausnahmezeiträume (geimpft / genesen):</td>
      <td>
        {{ lastUploadResult.skippedExemptions.length }}
      </td>
    </tr>
    <tr>
      <td>Neue Gruppen</td>
      <td *ngIf="lastUploadResult.newGroups.length > 0">
        {{ lastUploadResult.newGroups.join(", ") }}
      </td>
      <td *ngIf="lastUploadResult.newGroups.length === 0">Keine</td>
    </tr>
  </table>

  <h3 *ngIf="lastUploadResult.errors.length > 0">Detaillierte Fehler</h3>
  <ul>
    <li *ngFor="let error of lastUploadResult.errors">
      <dl>
        <dt><code>{{ error.line }}</code></dt>
        <dt><code>{{ error.exception }}</code></dt>
      </dl>
    </li>
  </ul>
</div>

<h3>Import-Dateiformat</h3>
<p>
  Datei mit UTF-8 Kodierung mit Komma-separierte Werte, die erste Zeile enthält die Namen der erforderlichen
  Spalten.
</p>

<dl>
  <dt>firstName (<code>Zeichenkette</code>)</dt>
  <dd>Vorname</dd>

  <dt>lastName (<code>Zeichenkette</code>)</dt>
  <dd>Nachmame</dd>

  <dt>vaccinated (<code>Datum</code>)</dt>
  <dd>Ausgenommen von Tests aufgrund einer Impfung bis zu diesem Datum (einschließlich)</dd>

  <dt>recovered (<code>Datum</code>)</dt>
  <dd>Ausgenommen von Tests aufgrund einer Genesung bis zu diesem Datum (einschließlich)</dd>

  <dt>group (<code>Zeichenkette</code>)</dt>
  <dd>Name der Klassen</dd>
</dl>

<h4>Beispiel</h4>
<p>Unten stehender Datensatz enthält die folgenden Personen</p>
<ul>
  <li>Albert Erster, geimpft bis 1.1.2020, nicht genesen, Gruppe 1c</li>
  <li>Berta Zweite, nicht geimpft, genesen bis 1.2.2020, Gruppe 1b</li>
  <li>Cäsar Dritter, geimpft bis 1.3.2020, genesen bis 1.4.2020, Gruppe 7a</li>
  <li>Erwin Letzter, nicht geimpft, nicht genesen, Gruppe 7a</li>
</ul>
<pre><code>
firstName,lastName,vaccinated,recovered,group
Albert,Erster,1.1.2020,,1c
Berta,Zweite,,1.2.2020,1b
Cäsar,Dritter,1.3.2020,1.4.2020,7a
Erwin,Letzter,,,7a
</code></pre>
