<mat-card class="example-card">
  <mat-card-subtitle>Schüler:innen</mat-card-subtitle>
  <mat-card-title>{{ group.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ group.personCount }} Schüler:innen, {{ group.testCount }} Tests</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button *ngIf="group.testCount === 0" mat-button (click)="createTestSeries(true)">
      <strong>Alle</strong> testen
    </button>
    <button *ngIf="group.testCount === 0" mat-button (click)="createTestSeries(false)">
      Personen <strong>ohne Befreiung</strong> testen
    </button>
        <a *ngIf="group.testCount > 0" [routerLink]="targetUrl">
      Zur Testreihe
    </a>
  </mat-card-actions>
</mat-card>
